.ImgCont {
    display: block;
    width: 200px;
}

.Smallimage {
    width: 180px;
    height: 180px;
    padding: 16px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    object-fit: contain;
    
}

.Caption {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .ImgCont {
        display: block;
        width: 22vw;
        text-align: center;
    }
    .Smallimage {
        width: 70%;
        height: auto;
    }
    .Caption {
        width: 100%;
        text-align: center;
    }
    
}