#profile {
    width: 25vw;
    height: auto;
    border-radius: 50%;
    align-self: center;
}
.container {
    display: flex;
    padding: 30px;
    width: 60vw;
    margin: auto;
}
.text {
    padding: 0 25px;
}