#profile {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 1px solid blue;
    align-self: center;
}
.container {
    display: flex;
    padding: 30px;
    width: 50vw;
    margin: auto;
}
.text {
    padding: 0 25px;
}