.Content {
    flex-direction: row;
}
h1 {
    font-family: 'Cormorant Garamond', sans-serif;
}
h2 {
    font-family: 'Cormorant Garamond', sans-serif;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3f3f3f;
}